<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8" />
    <title>WHODUNIT Admin Panel</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style_admin.css">
</head>
<body>

<h1>WHODUNIT</h1>
<h2 class="subtitle">Admin Panel</h2>

<div class="white-box info-box">
    <ul>
        <li><a href="admin_addJson.html">Idi na admin_addJson stranicu</a></li>
        <li><a href="admin_addFormsMurder.html">Idi na admin_addFormsMurder stranicu</a></li>
        <li><a href="admin_addGemini.html">Idi na admin_addGemini stranicu</a></li>
        <li><a href="admin_korisnici.html">Idi na admin_korisnici stranicu</a></li>
        <li><a href="admin_story.html">Idi na admin_story stranicu</a></li>
        <li><a href="admin_delete.html">Idi na admin_delete stranicu</a></li>
        <li><a href="admin_stats.html">Idi na admin_stats stranicu</a></li>
        <li><a href="admin_login.html">Idi na admin_login stranicu</a></li>
    </ul>
</div>

</body>
</html>